

h1{
  font-family: 'Arvo', serif;
  font-weight: lighter;
  font-size: 25px;
}

.cardtitle {
  font-family: 'Bitter', serif;
  font-weight: bold;
}

p {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  margin: 5px 1px;
  font-size: 15px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em #B2DF28,
    0 0 0.2em #B2DF28;
  color: black;
}

#card {
  border: solid 4px #B2DF28;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #bfde42ff;
  background-color: #42B4CA;
  margin: 500px;
  height: 390px;
  width: 500px;
  margin-top: 10%;
}

#card-title {
  padding: 5px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #2C6C73;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#card-id {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#card-number{
  display: inherit;
  margin-right: 50px;
}

#card-information {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

#card-photo {
  background-position: center;
  background-repeat: none;
  border: solid 2px #000;
  height: 150px;
  width: 150px;


}

#card-photo img {
  object-fit: contain;
  width: 100%
}


#card-detail {
  display: flex;
  
}

.card-box {
  margin-right: 0px;
  justify-content: space-between;
}

.cardsign {
  background-position: center;
  height: 38px;
  width: 350px;
}

#card-code {
  padding: 5px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.centrage {text-align: center;}

#card-text{
  text-align: right;
}

.character_sign{
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
}

.imagedefond { 
  background-image: url("https://w.forfun.com/fetch/03/03fdb791c0c8753db54348da091ba79b.jpeg");
  background-size: cover;
 }